set system domain-name {{ domain_name }}
set system name-server {{ dns_server1 }}
set system name-server {{ dns_server2 }}
set system ntp server {{ ntp_server1 }}
set system ntp server {{ ntp_server2 }}
