!
transceiver qsfp default-mode 4x10G
!
hostname {{ inventory_hostname }}
!
ntp server {{ ntp_server1 }}
!
spanning-tree mode rapid-pvst
!
aaa authorization exec default local
!
no aaa root
!
!
clock timezone {{ timezone }}
!
vlan 2-7
!
{% for iface, iface_value in interfaces.items() %}
{% if iface == "1" %}
interface "Ethernet{{ iface }}"
   spanning-tree portfast
   spanning-tree cost 1
!
{% else %}
interface {{ iface }}
   switchport access vlan {{ iface_value }}
!
{% endif %}
{% endfor %}
!
interface Management1
   shutdown
!
interface Vlan1
   ip address {{ vlan1_ip_address }}/{{ vlan1_netmask }}
!
ip route 0.0.0.0/0 {{ def_gateway }} 
!
ip routing
!
management api http-commands
   no shutdown
!
end
