feature bgp
router bgp {{ bgp_asn }}
  router-id {{ loopback101_ip_address }}
  address-family ipv4 unicast
    network {{ loopback101_ip_address }}/{{ loopback101_netmask }}
    network {{ loopback102_ip_address }}/{{ loopback102_netmask }}
  neighbor {{ bgp_peer_ip }}
    remote-as {{ bgp_asn }}
    description configured by ansible
    address-family ipv4 unicast
!
!
