! Command: show running-config
! device: arista5 (vEOS, EOS-4.20.10M)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname arista5
!
ntp server 130.126.24.24
!
spanning-tree mode rapid-pvst
!
aaa authorization exec default local
!
no aaa root
!
username admin privilege 15 role network-admin secret 5 $1$aM6w809x$tgkc6ZGhcScvELVKVHq3n0
username admin1 privilege 15 secret 5 $1$7kD0oS/t$wXhtTFwnWwnlPFKWwXoJ70
username eapi secret 5 $1$Kt0.fwmk$5Q14WW76.w5xBIHwMHNX0/
username pyclass privilege 15 secret 5 $1$C3VfUfcO$86t4iqCX60yW.NIR8d2Lh0
!
clock timezone America/Los_Angeles
!
vlan 2-7
! >> include VLANs <<
{% include "vlans.j2" %}
! >> end include VLANs <<
!
interface Ethernet1
   spanning-tree portfast
   spanning-tree cost 1
!
! >> include interfaces <<
{% include "interfaces.j2" %}
! >> end include interfaces <<
!
interface Management1
   shutdown
!
interface Vlan1
   ip address 10.220.88.32/24
!
ip route 0.0.0.0/0 10.220.88.1
!
ip routing
!
management api http-commands
   no shutdown
!
end
